services:
  api-gateway:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./apps/gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - market-analysis
      - trade-execution

  # --- APPLICATION LAYER ---
  market-analysis:
    build: ./apps/market-analysis
    container_name: market-analysis
    ports:
      - "3000"
    volumes:
     - ./apps/market-analysis:/app 
     - /app/node_modules
    command: npm run start:dev
  trade-execution:
    build: ./apps/trade-execution
    container_name: trade-execution
    ports:
      - "8080"
    environment:
      - PORT=8080